<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikasoa.web.dao.BaseMapper">

    <insert id="add" parameterType="com.ikasoa.web.dao.pojo.BaseEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT
            INTO tb_admin_user (
                gmt_create,
                gmt_modify,
                username,
                password,
                ap_list,
                adviser_id,
                mara_id,
                official_id,
                kj_id,
                session_id,
                gmt_login,
                login_ip,
                status)
            VALUES (
                now(),
                now(),
                #{username},
                #{password},
                #{apList},
                #{adviserId},
                #{maraId},
                #{officialId},
                #{kjId},
                null,
                now(),
                '127.0.0.1',
                'ENABLED');
    </insert>
    
</mapper>
